.body, html {
    /* set the body of the document flow to default to eliminat unecessar spacing */
    height:100%;
    padding:0%;
    margin:0%;
    background-color:black;
    text-align:center;
}

.header {
    /* fixed position keeps the header at the top of the page at all times */
    position:fixed;
    background-color:rgb(200, 225, 229);
    width:100%;
    height:15%;
    left:0%;
    top:0%;
    z-index:100;
}

.navigation {
    margin-top:2.3%;
}

.left_nav {
    list-style-type:none;
    padding:0%;
    margin:0%;
}

.right_nav {
    list-style-type:none;
    padding:0%;
    margin:0%;
}

.linkL {
    float:left;
}

.linkR {
    float:right;
}

a {
    font-size:30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    display: block;
    padding-right: 50px;
    padding-left:50px;
    background-color:rgb(200, 225, 229);
    text-decoration:none;
}

.logo {
    position:sticky;
    top:1.8%;
    width:5%;
    height:10%;
    margin:auto;
    margin-top:4.7%;
    display:block;
    border: 5px solid rgb(27, 200, 177);
    z-index:101;
}

.title {
    position:static;
    padding: 1.37%;
    display: inline-block;
    color:white;
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing:10px;
    border-bottom: 2px solid white;
}

.hook {
    position:static;
    padding:1.37%;
    display:inline-block;
    color:white;
    font-size:80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing:0.27%;
    border-style:double;
}

.description {
    position:static;
    background-color:white;
    padding:1.37%;
    margin:0 20.7%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    letter-spacing:0.13%;
    color:black;
}

.footer {
    position:relative;
    background-color:rgb(200, 225, 229);
    left:0%;
    width:100%;
    height:5%
}

.copyright {
    color:white; 
}
