.header {
    background-color:rgb(200, 225, 229);
    
    width:120%;
    height:15%;
}

body {
    background-color:black;
}

.logo {
    width:5%;
    height:10%;
    display:block;
    margin:auto;
    margin-top:-40px;
}

.title {
    color:white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing:10px;
    display: inline-block;
    border: 2px solid white;
    padding: 10px;
}

.titler {
    text-align:center;
    margin:-20px;
}

.footer {
    background-color:rgb(200, 225, 229);
}

.copyright {
    color:white; 
}
